name: Deploy Minimarket

on:
  push:
    branches:
      - master  # Cambia esto si usas una rama diferente

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'  # Cambia esto a la versión de Java que uses

      - name: Build with Maven
        run: |
          cd minimarket_backend_remoto  # Cambia al directorio donde está el pom.xml
          mvn clean package

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to server
        run: |
          ssh -p5118 root@149.50.132.9 << 'EOF'
            cd /DeployVirgenLourdes/minimarket_backend_remoto/minimarket_virgen_lourdes_backend
            git pull origin master
            docker-compose down
            docker-compose build
            docker-compose up -d
          EOF
